@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<h2>Movies</h2>


@* New Movie Button  *@
<p>
    @Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
</p>

@* give table an id *@
<table id="movies" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Movie</th>
        <th>Genre</th>
        @* Add a new table header *@
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
   
    </tbody>
</table>

@section scripts
{

    @* get movies table and find all element with js-delete element
       add on click function and then popup confirmation box 

        *@

    <script>
        $(document).ready(function() {

            @*   DataTables Plug-in   *@
            var table = $("#movies").DataTable(
                {   @* use ajax *@
                    ajax: {
                        url: "/api/movies",
                        dataSrc: ""
                    },

                    @* columns for table *@

                    columns: [
                        {   @* First column name *@
                            data: "name",
                            render: function(data, type, movie) {
                                return "<a href='/movies/edit/" + movie.id + "'>" + movie.name + "</a>";
                            }
                        },
                        {   @* Second column genre  *@
                            data: "genre.name"
                        },
                        {   @* Third column delete button *@
                            data: "id",
                            render: function(data) {
                                return "<button class='btn-link js-delete' data-movie-id=" + data + ">Delete</button>";
                            }
                        }
                    ]
                }
            );


            @* to optimize the event handler to have only one click handler for all buttons
               handler is hooked to only movies table as selector
               .js-delete is the filter, if click event is raised from element matching the selector
               callback function() will be called     *@

            $("#movies").on("click",
                ".js-delete",
                function() {


                    var button = $(this);
                    @* bootbox confirmation box *@
                    bootbox.confirm("Are you sure you want to delete this movie?",
                        function(result) {
                            if (result) {

                                $.ajax({
                                        url: "/api/movies/" + button.attr("data-movie-id"),
                                        method: "DELETE",
                                        success: function() {

                                            table.row(button.parents("tr")).remove().draw();
                                            button.parents("tr").remove();



                                        }
                                    }
                                );
                            }
                        });


                });

        });


    </script>


}
